<div class="modal" [ngClass]="{'is-active': isActive}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Nouvel tache</p>
      <button class="delete" aria-label="close" (click)="isActive = false"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="taskForm">
        <div class="field">
          <label class="label">Nom</label>
          <div class="control">
            <input class="input" type="text" placeholder="Nom tache" formControlName="name">
          </div>
        </div>
        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea class="textarea" placeholder="Description taches" formControlName="description"></textarea>
          </div>
        </div>
        <div class="field">
          <label class="label">Projet</label>
          <div class="control">
            <input class="input" placeholder="Projet" formControlName="project">
          </div>
        </div>
        <div *ngIf="projects.length > 0" class="control has-icons-left">
          <div class="select is-fullwidth">
            <select formControlName="existingProject">
              <option value="">Projet</option>
              <option *ngFor="let project of projects">{{project}}</option>
            </select>
          </div>
          <div class="icon is-small is-left">
            <i class="fa fa-briefcase"></i>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button (click)="createTask()" class="button is-success">Ajouter</button>
      <article class="message is-danger" *ngIf="error.length">
        <div class="message-body"> {{ error }}</div>
      </article>
    </footer>
  </div>
</div>
