<div class="modal" [ngClass]="{'is-active': isActive}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Nouvel tache</p>
      <button class="delete" aria-label="close" (click)="isActive = false"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="taskForm">
        <div class="field">
          <label class="label">Nom</label>
          <div class="control">
            <input class="input" type="text" placeholder="Nom tache" formControlName="name">
          </div>
        </div>

        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea class="textarea" placeholder="Textarea" formControlName="description"></textarea>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button (click)="createTask()" class="button is-success">Ajouter</button>
      <article class="message is-danger" *ngIf="error.length">
        <div class="message-body"> {{ error }}</div>
      </article>
    </footer>
  </div>
</div>
