<div class="container">
  <h1 class="title has-text-centered">Liste des taches</h1>
  <ng-container *ngIf="tasks.length > 0">
    <div class="columns body-tasks">
      <div
        class="column is-one-quarter todo"
        dndDropzone
        (dndDragover)="onDragover($event)"
        (dndDrop)="onDrop($event)"
      >
        <div class="box hero is-info has-text-centered">
          Taches à faire
        </div>
        <ng-container *ngFor="let t of todos">
          <div [draggable]="true"
            class="is-task box todo"
            dndDraggable
            [dndDraggable]="t"
            (click)="showTask(t)"
          >
            {{ t.name }}
            <span class="icon" (click)="deleteTask(t, $event)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </span>
          </div>
        </ng-container>
      </div>
      <div
        class="column is-one-quarter doing"
        dndDropzone
        (dndDragover)="onDragover($event)"
        (dndDrop)="onDrop($event)"
      >
        <div class="box hero is-info has-text-centered">
          Taches en cours
        </div>
        <ng-container *ngFor="let t of doings">
          <div [draggable]="true"
               class="is-task box doing"
               dndDraggable
               [dndDraggable]="t"
               (click)="showTask(t)"
          >
            {{ t.name }}
            <span class="icon" (click)="deleteTask(t, $event)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </span>
          </div>
        </ng-container>
      </div>
      <div
        class="column is-one-quarter done"
        dndDropzone
        (dndDragover)="onDragover($event)"
        (dndDrop)="onDrop($event)"
      >
        <div class="box hero is-info has-text-centered">
          Taches terminées
        </div>
        <ng-container *ngFor="let t of dones">
          <div
            class="is-task box has-background-grey has-text-white-ter"
            [draggable]="true"
            dndDraggable
            [dndDraggable]="t"
            (click)="showTask(t)"
          >
            {{ t.name }}
            <span class="icon" (click)="deleteTask(t, $event)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </span>
          </div>
        </ng-container>
      </div>
      <div
        class="column is-last is-one-quarter pending"
        dndDropzone
        (dndDragover)="onDragover($event)"
        (dndDrop)="onDrop($event)"
      >
        <div class="box hero is-info has-text-centered">
          Taches en attente
        </div>
        <ng-container *ngFor="let t of pendings">
          <div
            class="is-task box pending"
            [draggable]="true"
            dndDraggable
            [dndDraggable]="t"
            (click)="showTask(t)"
          >
            {{ t.name }}
            <span class="icon" (click)="deleteTask(t, $event)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </span>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <div class="columns">
    <div class="column actions">
      <button class="button is-info is-light" (click)="addTask()">Nouvelle tâche</button>
    </div>
  </div>

</div>

<app-modals #modalTask (addedTask)="handleNewTasks($event)"></app-modals>
<app-task #detailTask (updateTask)="saveTasks()"></app-task>
