<div class="container" [ngClass]="{'desktop': desktopMode}">
  <div class="header">
    <h1 class="title has-text-centered">
      Liste des taches
    </h1>
    <span class="icon" *ngIf="desktopMode" (click)="desktopMode = false">
      <i class="fa fa-desktop" aria-hidden="true"></i>
    </span>
    <span class="icon" *ngIf="!desktopMode" (click)="desktopMode = true">
      <i class="fa fa-mobile-phone" aria-hidden="true"></i>
    </span>
  </div>
  <div class="columns body-tasks">
    <div
      class="column is-one-quarter todo"
      dndDropzone
      (dndDragover)="onDragover($event)"
      (dndDrop)="onDrop($event)"
    >
      <div class="box has-background-info"
           (click)="expandedTodo = !expandedTodo">
        <span>Taches à faire</span>
        <span class="icon" [ngClass]="{'rotated': !expandedTodo}">
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </span>
      </div>
      <div class="tasks-container" [ngClass]="{'hidden': !expandedTodo, 'displayed': expandedTodo}">
        <ng-container *ngFor="let t of todos">
          <div [draggable]="true"
            class="is-task box todo"
            dndDraggable
            [dndDraggable]="t"
            (click)="showTask(t)"
          >
            <span class="tag" *ngIf="t.project">
              {{ t.project }}
            </span>
            {{ t.name }}
            <span class="icon" (click)="deleteTask(t, $event)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </span>
          </div>
        </ng-container>
      </div>
    </div>
    <div
      class="column is-one-quarter doing"
      dndDropzone
      (dndDragover)="onDragover($event)"
      (dndDrop)="onDrop($event)"
    >
      <div class="box has-background-info" (click)="expandedDoing = !expandedDoing">
        Taches en cours
        <span class="icon" [ngClass]="{'rotated': !expandedDoing}">
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </span>
      </div>
      <div class="tasks-container" [ngClass]="{'hidden': !expandedDoing, 'displayed': expandedDoing}">
        <ng-container *ngFor="let t of doings">
          <div [draggable]="true"
               class="is-task box doing"
               dndDraggable
               [dndDraggable]="t"
               (click)="showTask(t)"
          >
            <span class="tag" *ngIf="t.project">
              {{ t.project }}
            </span>
            {{ t.name }}
            <span class="icon" (click)="deleteTask(t, $event)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </span>
          </div>
        </ng-container>
      </div>
    </div>
    <div
      class="column is-one-quarter done"
      dndDropzone
      (dndDragover)="onDragover($event)"
      (dndDrop)="onDrop($event)"
    >
      <div class="box has-background-info" (click)="expandedDone = !expandedDone">
        Taches terminées
        <span class="icon" [ngClass]="{'rotated': !expandedDone}">
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </span>
      </div>
      <div class="tasks-container" [ngClass]="{'hidden': !expandedDone, 'displayed': expandedDone}">
        <ng-container *ngFor="let t of dones">
          <div
            class="is-task box has-background-grey has-text-white-ter"
            [draggable]="true"
            dndDraggable
            [dndDraggable]="t"
            (click)="showTask(t)"
          >
            <span class="tag" *ngIf="t.project">
              {{ t.project }}
            </span>
            {{ t.name }}
            <span class="icon" (click)="deleteTask(t, $event)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </span>
          </div>
        </ng-container>
      </div>
    </div>
    <div
      class="column is-last is-one-quarter pending"
      dndDropzone
      (dndDragover)="onDragover($event)"
      (dndDrop)="onDrop($event)"
    >
      <div class="box has-background-info" (click)="expandedPending = !expandedPending">
        Taches en attente
        <span class="icon" [ngClass]="{'rotated': !expandedPending}">
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </span>
      </div>
      <div class="tasks-container" [ngClass]="{'hidden': !expandedPending, 'displayed': expandedPending}">
        <ng-container *ngFor="let t of pendings">
          <div
            class="is-task box pending"
            [draggable]="true"
            dndDraggable
            [dndDraggable]="t"
            (click)="showTask(t)"
          >
            <span class="tag" *ngIf="t.project">
              {{ t.project }}
            </span>
            {{ t.name }}
            <span class="icon" (click)="deleteTask(t, $event)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column actions">
      <button class="button is-info is-light" (click)="openReminder()">PenseBete</button>
      <button class="button is-link is-dark" (click)="save()">Enregistrer</button>
      <button class="button is-info is-light" (click)="addTask()">Nouvelle tâche</button>
    </div>
    <div class="column actions">
      <div *ngIf="projects.length > 0" class="control has-icons-left">
        <div class="select">
          <select (change)="filterByProject($event)">
            <option value="">Projet</option>
            <option *ngFor="let project of projects">{{project}}</option>
          </select>
        </div>
        <div class="icon is-small is-left">
          <i class="fa fa-briefcase"></i>
        </div>
      </div>
      <div class="file is-link">
        <label class="file-label">
          <input class="file-input"
                 type="file"
                 name="tasks_file"
                 (change)="loadTasks($event)"
                 accept="application/json">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              {{ fileName || "Charger des taches" }}
            </span>
          </span>
        </label>
      </div>
    </div>
  </div>

</div>

<app-modals #modalTask (addedTask)="handleNewTasks($event)"></app-modals>
<app-task #detailTask (updateTask)="saveTasks()"></app-task>
<app-reminder #reminder></app-reminder>
